mixin videoBlock(video = {})
    .videoBlock
        .videoframe
            a(href= routes.videoDetail(video.id))
                video.videoBlock__thumbnail(src=`${video.videoFile}`, controls = true)
        .videoInfo
            a(href=routes.userDetail(video.creatorid))
                img.vd_avatar(src=video.avatarUrl)
            .videoInfofo
                a(href= routes.videoDetail(video.id))
                    span.videoBlock__title=video.title
                span.videoBlock__views 조회수 #{video.views}회
                span.videoBlock__name #{video.creatorname}

