header.header
    .header__column
        a(href = routes.home)
            //img(src="/logo", alt="로고")
            i.fab.fa-youtube.fa-3x 
    .header__column
        form(action = routes.search, method = "get")
            input(type = "text", placeholder = "검색", name = "term" autocomplete="off")
    .header__column
        ul
            if !loggedUser
                li
                    a(href=routes.join) 회원가입
                li
                    a(href=routes.login) 로그인
            else
                li
                    a(href=`/videos${routes.upload}`) 업로드
                li
                    a(href=routes.userDetail(loggedUser.id)) 마이페이지
                li
                    a(href=routes.logout) 로그아웃